body {
  text-align: center;
}

[data-bs-theme=dark] {
  --bs-body-color: white !important;
  --bs-body-bg: black !important;
}

#selectContainer {
  position: relative;
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 3em;
  /* padding: 10px; */
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px dashed #696969;
  color: green;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
}

#selectFolder, #selectFile {
  position: relative;
  display: inline-flex;
  width: auto;
  text-overflow: '';
  border-color: white;
  outline-color: white;
  font: inherit;
  padding: 5px;
  background: rgb(69, 0, 69);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
  /* option {
    color: inherit;
  } */
}

/* #selectFolder:hover, #selectFile:hover {
  background: rgb(0, 69, 0);
} */

#selectButton {
  border: none;
  width: auto;
  background: blue;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#selectButton:hover {
  background: rgb(0, 69, 0);
}

tfoot input {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  width: 100%;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

tfoot input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.dataTables_filter {
  position: absolute;
  right: 0;
}

.fa-icon {
  color: var(--bs-body-color);
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn {
  --bs-btn-bg: var(--bs-body-bg) !important;
  --bs-btn-color: var(--bs-body-color) !important;
  --bs-btn-hover-color: var(--bs-body-color) !important;
  --bs-btn-hover-bg: var(--bs-tertiary-bg) !important;
}

.form-select:hover {
  background-color: var(--bs-tertiary-bg) !important;
}

.dropdown-menu {
  --bs-dropdown-bg: var(--bs-tertiary-bg) !important;
}

.dataTables_scrollHead {
  background: #212529;
}

.pagination {
  --bs-pagination-color: var(--bs-body-color) !important;
}